.customers {
      padding-top: 60px;
      padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
  padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
    @media screen and (min-width: 1200px) {
  margin-top: 50px;
      }
  
}
.castomer__ithem {
  flex-basis: calc((100% - 30px)/2);
  
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px)/3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 150px)/6);
  }
}
.customer__link {
  display: flex;

  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--customers-border);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border-color: var(--main-blue-color);
  }
  &:focus {
    border-color: var(--main-blue-color);
    outline: none;
  }
  
  
}

.customer__logo {
  width: 106px;
  height: 60px;
  fill: var(--customers-border);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .customer__link:hover & {
    fill: var(--main-blue-color);
  }
  .customer__link:focus & {
    fill: var(--main-blue-color);
  }
}
