:root {
    --address-color: #757575;
    --black-color: #000;
    --blue-batton-hover: #0783e7;
    --card-border: #eeeeee;
    --customers-border: #afb1b8;
    --main-font-color: #212121;
    --main-blue-color: #2196f3;
    --nav-border: #ececec;
    --section-dark-bg: #2f303a;
    --section-light-bg: #f5f4fa;
    --text-color: #757575;
    --white-color: #fff;
}
